/bin/
/coverage/
/node_modules/
/package-lock.json
/test/
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.gitattributes
/.gitignore
/.npmignore
/.prettierignore
/jest.config.ts
/jest.dist.config.ts
/Makefile
/tsconfig.json
